section {
    margin: 4px 2px 8px 2px;

    border: 0.2pt solid #cedddd;

    padding: 1.5% 0.8%;

    padding-left: 1.2%;
    padding-right: 1.2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: black;
    
}

h3 {
    color: black;
}

a {
    color: #A8DADC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    color: #fffffe;
    text-align: center;
    margin-bottom: 20px;
}

p {
    background-color: rgb(236, 82, 82);
}

link {
    background-color: black;
}

ul {
    color: black;
}

/*
Empiezan las cajas para la seccion de navegacion
*/
 

nav ul {
    display: flex;									
    justify-content: space-around;
    list-style-type: none; 
    padding: 0;
    margin-bottom: 20px;
}
nav ul li {
    margin: 20 10px;
}

nav ul li a {
    background-color: #ad69e6; 
    color: white; 
    padding: 15px 25px; 
    border-radius: 10px; 
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: #9797b3; 
}

/*
Termina las cajas para la seccion de navegacion
*/

section form {

    display: grid;									
    row-gap: 0.5rem;

}

#resumen {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}
.collapsible {
    display: none; /* Oculta las secciones por defecto */
}

.collapsible.active {
    display: block; /* Muestra la sección si está activa */
}
