section {
    margin: 4px 2px 8px 2px;
    border: 0.2pt solid #cedddd;
    padding: 1.5% 0.8%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}
body {
    font-family: Arial, sans-serif; 
    font-size: 18px;
    line-height: 1.6; 
}

/*Parte del encabezado*/
header {
    color: #070700;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}
#encabezado {
    padding: 20px;
    border-radius: 8px;
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?t=st=1730257865~exp=1730261465~hmac=f63b9ee4ab6fb072816d60f2f10e198f2f3807146b903ad4888136f2c5fbc05e&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#encabezado h1{
    margin-bottom: 30px;
}

/*seccion de navegacion*/
nav ul {
    display: flex;									
    justify-content: space-around;
    list-style-type: none; 
    padding: 0;
    margin-bottom: 20px;
}
nav ul li {
    margin: 20 10px;
}
nav ul li a {
    background-color: rgb(163, 207, 187);
    color: black; 
    padding: 15px 25px; 
    border-radius: 10px; 
    font-family: "Kanit", sans-serif;
    font-size: 19px;
    transition: background-color 0.3s ease; 
}
nav ul li a:hover {
    background-color: #9797b3; 
}

/*Parte del Resumen*/
#resumen {
    text-align: center;
    padding: 20px;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-3d-cubos-blancos_23-2150472998.jpg?t=st=1730186677~exp=1730190277~hmac=f00339dea3d9a61f8fb62e5a25c944456a49d0332d572f8befd855f6bf6796ee&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#resumen h2{
    grid-area: title;
    font-size: 28px;
    color: #261883;
    text-align: center;
    margin-bottom: 100px;
    font-family: "Kanit", sans-serif;
}

#resumen .subtitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#resumen #photo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid black;
}

#resumen p {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    
}

/*Cuentas y Redes*/

#Redes h2{
    grid-area: title;
    font-size: 28px;
    color: #261883;
    text-align: left;
    margin-bottom: 100px;
    font-family: "Kanit", sans-serif;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.social-links a {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
}

.social-links img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    margin-bottom: 50px;
}

/*Educacion*/
#educacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "text video";
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148807110.jpg?t=st=1730256715~exp=1730260315~hmac=9308a90aebb5346a657d713a9e143e09bde6842f374ecd7ed376c365f02a422b&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#educacion h2 {
    grid-area: title;
    font-size: 28px;
    color: #261883;
    text-align: left;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}
#educacion p {
    grid-area: text;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    font-family: Arial, sans-serif; 
    font-size: 18px;
}

#educacion iframe {
    grid-area: video;
    border-radius: 8px;
    align-self: center;
    margin: auto;
}
/*Habilidades*/
#habilidades {
    text-align: center;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-3d-cubos-blancos_23-2150472998.jpg?t=st=1730186677~exp=1730190277~hmac=f00339dea3d9a61f8fb62e5a25c944456a49d0332d572f8befd855f6bf6796ee&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#habilidades h2 {
    font-size: 28px;
    color: #261883;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Kanit", sans-serif;
}
.logo-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px; 
    max-width: 600px; 
    margin: 0 auto;
}
.logo-habilidades img {
    flex: 1 1 45%; 
    max-width: 200px; 
    height: auto;
    object-fit: contain;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*Proyectos*/
#proyectos {
    text-align: center;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148817747.jpg?t=st=1730254012~exp=1730257612~hmac=b43a0e6ac9da6aed548b756a07c8ae92ee746c32b14379c3036174492afa9ad6&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#proyectos h2 {
    font-size: 28px;
    color: #261883;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Kanit", sans-serif;
}
#proyectos .ProyectosPersonales img {
    flex: 1 1 45%; 
    max-width: 350px; 
    height: auto;
    object-fit: contain;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#proyectos .ProyectosPersonales div {
    border: 2px solid black;
    padding: 20px;
}



/*Forumulario y mapa: Contactanos*/
#contactanos {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(219, 234, 243);
}
#contactanos h2 {
    font-size: 28px;
    color: #261883;
    text-align: left;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}
#contactanos-content {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    align-items: flex-start;

}
form {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #261883;
    padding: 30px;
    border-radius: 8px;
}
.map-container {
    min-width: 45%;
    max-width: 50%;
}
form label {
    font-weight: bold;
    color: #3720d1;
}
form input[type="text"],
form input[type="email"],
form textarea,
form select {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #000000;
}
form input::placeholder,
form textarea::placeholder {
    color: #b3a8e0;
}
form button {
    width: 100px;
    padding: 10px;
    background-color: #4A3F95;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover {
    background-color: #392d73;
}
.map-container iframe {
    padding-left: 30px;
    border-radius: 8px;
}

/*footer*/
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    padding-bottom: 60px;
}

footer {
    background-color: #f8f8f8;
    color: #3c3c3c;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}


